<h1>Frage bearbeiten</h1>





<%= render 'form' %>



<%= link_to(image_tag('show.png', :size => "30x30",:title => "Frage anzeigen"), @question) %>
<%= link_to(image_tag('back.png', :size => "30x30",:title => "zurück"), questions_path) %>