<h1>Benutzer bearbeiten</h1>

<%= render 'form' %>

<%= link_to(image_tag('edit_user.png', :size => "30x30",:title => "Benutzer bearbeiten"),  edit_user_path(@user)) %> |
<%= link_to(image_tag('back.png', :size => "30x30",:title => "zurück"), users_path) %>