<h1>History</h1>

<table border="1">
  <thead>
    <tr>
      <th>Action</th>
      <th>Benutzer</th>
      <th>Beschreibung</th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.action %></td>
        <% unless history.user.nil? %>
        <td align="center"><%= image_tag(history.user.image, :size => "50x50", :title => history.user.name) %></td>
        <% else %>
        <td></td>
        <% end %>
        <td><%= history.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
