<h1>Fragenkatalog bearbeiten</h1>

<%= render 'form' %>


<%= link_to(image_tag('show.png', :size => "30x30",:title => "Fragenkatalog anzeigen"), @area) %>
<%= link_to(image_tag('back.png', :size => "30x30",:title => "zurück"), areas_path) %>